* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
}

.container {
    border : 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 410px;
    padding: 12px;
    margin-top: 200px;
    background-color: rgb(40, 40, 50);
    display: flex;
    flex-direction: column;
}

.display {
    color: white;
    text-align: right;
    font-size: 48px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(120, 120, 130);
    background-color: rgb(50, 50, 60);
    border-radius: 5px;
    padding: 18px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

button {
    color: white;
    display: block;
    width :24%;
    height: 50px;
    margin: 1px 0px;
    background-color: rgb(70, 70, 70);
    border: 0;
    border-radius: 2px;
}

button.number {
    background-color: rgb(85 85 85);
}

button.equals {
    background-color:cornflowerblue;
}